
#top {
	width: 40%; 
	position: absolute;
	left: 30%;
}
#picture {
	position: absolute;
	width: 40%; 
	height: 15.65vw;
	background-color: black;
	border-color:black;
	border-width:5px;

}

#picture img {
	width: 100%;
}

#contacts {
	margin-top:15.65vw;
	position: absolute;
	background-color:#56CBF9;
	width: 40%;
	overflow: hidden;
}

#about p {
	text-align: justify;
	margin-left:5%;
	margin-right:5%;
	font-size:1vw;
	-webkit-text-size-adjust: none;
}

#about {
	margin-left:40%;
	width: 60%; 
	background-color:white;	
	overflow: hidden;
}

h1 {
	text-align:center;
	font-family: 'Do Hyeon', sans-serif;
	font-weight:normal;
	font-size:1.5vw;
	text-transform:uppercase;
	color:black;
	text-align:center;
	letter-spacing: -0.1em;
	-webkit-text-size-adjust: none;
	
}

h2 {
	text-align:center;
	font-family: 'Do Hyeon', sans-serif;
	font-weight:normal;
	font-size:1vw;
	text-transform:uppercase;
	color:black;
	text-align:center;
	letter-spacing: -0.5px;
	margin-top:-5%;
	-webkit-text-size-adjust: none;
}

#socialmedia {
	background-color:white;
	height:2vw;
	width:90%;
	margin-left:5%;
	margin-bottom:10%;
	border-radius:5px;
}

#socialmedia img {
	width: 10%;
	margin-left:2.5%;
	margin-top:2.5%;
	float:left;
}

#socialmedia:hover{
	background-color:lightblue;
	cursor: pointer;	
}

.p1 {
	font-family: 'Do Hyeon', sans-serif;
	font-weight:bold;
	font-size:1vw;
	color:black;
	padding-top:0.5em;
	padding-left:2em;

}

.p2 {
	font-family: 'Do Hyeon', sans-serif;
	font-weight:bold;
	font-size:0.8vw;
	color:black;
	padding-top:0.7em;
	padding-left:2.5em;

}

a {
	text-decoration: none;
}


