
.side-bar{
	width:40%;
	height:100%;
	position: fixed;
	margin-left:0.5%;
	margin-top:-1.5%;
}

#picture {
	background-color: black;
	border-color:black;
	border-width:5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

#picture img {
	width: 100%;
}

#contacts {
	margin-top:15.65vw;
	position: absolute;
	background: linear-gradient(45deg, #7699d5, #bbc9e1,white);
	width: 40%;
	overflow: hidden;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#about p {
	text-align: justify;
	margin-left:15%;
	margin-right:5%;
	font-size:1vw;
	-webkit-text-size-adjust: none;
}

#about {
	margin-left:17%;
	background: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	height:100vw;
}

#article {
	background: #fcfcfc;
	padding-top:2.5%;
	margin-bottom: 2.5%;
	border-radius: 5px;
}

#article-image {
	float: left;
	position: absolute;
	width:auto;
	height: auto;
}

#article-image img {
	margin-left:15px;
	border-radius:5px;
	object-fit: cover;
}

#article-text {
	font-weight: bold;
	margin-left:30%;
}

h1 {
	text-align:center;
	font-family: 'Do Hyeon', sans-serif;
	font-weight:normal;
	font-size:1.5vw;
	text-transform:uppercase;
	color:black;
	letter-spacing: -0.1em;
	-webkit-text-size-adjust: none;
	
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight:normal;
	font-size:1.5vw;
	text-transform:uppercase;
	color:black;
	letter-spacing: -0.1em;
	-webkit-text-size-adjust: none;
	margin-left: 15%;
}

h3 {
	text-align:center;
	font-family: 'Do Hyeon', sans-serif;
	font-weight:normal;
	text-transform:uppercase;
	color:black;
	text-align:center;
	letter-spacing: -0.5px;
	margin-top:-5%;
	-webkit-text-size-adjust: none;
}

#socialmedia {
	background-color:white;
	height:2vw;
	width:90%;
	margin-left:5%;
	margin-bottom:10%;
	border-radius:5px;
	display: flex;
}

#socialmedia:hover{
	background-color:#dfeafd;
	cursor: pointer;
	transition: 1s;
}

.p1 {
	font-family: 'Do Hyeon', sans-serif;
	font-weight:bold;
	font-size:1vw;
	color:black;
	padding-top:0.4em;
	padding-left:0.5em;

}

.text {
	display: inline!important;
}

.p2 {
	font-family: 'Do Hyeon', sans-serif;
	font-weight:bold;
	font-size:0.8vw;
	color:black;
	padding-top:0.5em;
	padding-left:0.5em;

}

a {
	text-decoration: none;
	color:black!important;
}


