#top {
	margin-left:30%;
	width: 40%; 
	position: relative;
	max-height:20vw;
}
#picture {
	position: absolute;
	width: 40%; 
	height: 15.65vw;
	background-color: black;
	border-color:black;
	border-width:5px;
}

#picture img {
	width: 100%;
}

#contacts {
	margin-top:15.65vw;
	position: absolute;
	background-color:lightblue;
	width: 40%; 
	height:20vw;
}

#about p {
	text-align: justify;
	margin-left:5%;
	margin-right:5%;
	font-size:1vw;
}

#about {
	margin-left:40%;
	width: 60%; 
	background-color:white;	
	height:46em;
}

h1 {
	text-align:center;
	font-family: 'Do Hyeon', sans-serif;
	font-weight:normal;
	font-size:1.5vw;
	text-transform:uppercase;
	color:black;
	text-align:center;
	letter-spacing: -2px;
	
}

h2 {
	text-align:center;
	font-family: 'Do Hyeon', sans-serif;
	font-weight:normal;
	font-size:1vw;
	text-transform:uppercase;
	color:black;
	text-align:center;
	letter-spacing: -0.5px;
	margin-top:-5%;
}

#socialmedia {
	background-color:#e2e2e2;
	height:2vw;
	width:90%;
	margin-left:5%;
	margin-bottom:10%;
	border-radius:5px;
}

.p1 {
	font-family: 'Do Hyeon', sans-serif;
	font-weight:bold;
	font-size:1vw;
	color:black;
	padding-top:3.5%;
	padding-left:15%;
	text-align: justify;
}

.p2 {
	font-family: 'Do Hyeon', sans-serif;
	font-weight:bold;
	font-size:0.8vw;
	color:black;
	padding-top:3.5%;
	padding-left:15%;
	text-align: justify;
}

#socialmedia img {
	width: 10%;
	margin-left:2.5%;
	margin-top:2.5%;
	float:left;
}


